@model StaffAddViewModel
@{
    ViewData["Title"] = "Yönetici Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">İsim</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="İsim" asp-for="Name">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Title" asp-for="Title">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Facebook</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Facebook" asp-for="FacebookLink">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Twitter</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Twitter" asp-for="TwitterLink">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">İnstagram</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="İnstagram" asp-for="InstagramLink">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Dosya Ekle</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control-file" name="staffImage">
                </div>
            </div>

            <div>
                <button class="btn btn-success text-white" type="submit">Ekle</button>
                <a asp-controller="Staff" asp-action="Index" asp-area="Admin" class="btn btn-danger text-white">Vazgeç</a>
            </div>
        </form>
    </div>
</div>

