<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Api Otel Admin Paneli</title>
    @await Html.PartialAsync("_CssPartialView")
    @if (IsSectionDefined("Css"))
    {
        @await RenderSectionAsync("Css", false)
    }
</head>

<body>

    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <div id="main-wrapper">

        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img src="~/admin/images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="~/admin/images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="~/admin/images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>

        @await Html.PartialAsync("_NavbarPartialView")
        @await Html.PartialAsync("_SidebarPartialView")

        <div class="content-body">
            <!-- row -->

            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- #/ container -->
        </div>

        @await Html.PartialAsync("_FooterPartialView")
    </div>


    @await Html.PartialAsync("_JsPartialView")
    @if (IsSectionDefined("Scripts"))
    {
        @await RenderSectionAsync("Scripts", false)
    }

</body>

</html>