@model AddServiceDto
@{
    ViewData["Title"] = "Servis Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <form method="post">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Başlık</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Başlık" asp-for="Title">
                    <span class="text text-danger" asp-validation-for="Title"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Açıklama</label>
                <div class="col-sm-10">
                    <textarea asp-for="Description" rows="8" class="form-control" placeholder="Açıklama giriniz..."></textarea>
                    <span class="text text-danger" asp-validation-for="Description"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Servis İkonu</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Servis İkonu" asp-for="ServiceIcon">
                    <span class="text text-danger" asp-validation-for="ServiceIcon"></span>
                </div>
            </div>

            <div>
                <button class="btn btn-success text-white" type="submit">Ekle</button>
                <a asp-controller="Service" asp-action="Index" asp-area="Admin" class="btn btn-danger text-white">Vazgeç</a>
            </div>
        </form>
    </div>
</div>
