@model UpdateServiceDto
@{
    ViewData["Title"] = "Servis Güncelle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedByName" />
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="ServiceIcon" />

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Title" asp-for="Title">
                    <span class="text text-danger" asp-validation-for="Title"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Açıklama</label>
                <div class="col-sm-10">
                    <textarea asp-for="Description" rows="8" class="form-control" placeholder="Açıklama giriniz..."></textarea>
                    <span class="text text-danger" asp-validation-for="Description"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Dosya Ekle</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control-file" name="iconImage">
                </div>
            </div>

            <div>
                <button class="btn btn-success text-white" type="submit">Güncelle</button>
                <a asp-controller="Service" asp-action="Index" asp-area="Admin" class="btn btn-danger text-white">Vazgeç</a>
            </div>
        </form>
    </div>
</div>


